
CV Html/css/style.css.map
CV Html/.idea/workspace.xml
CV Html/.idea/modules.xml
CV Html/.idea/inspectionProfiles/Project_Default.xml
CV Html/.idea/CV.iml
CV Html/.idea/codeStyles/codeStyleConfig.xml
