.navbar.navbar-expand-sm {
    li {
        display: inline-block;
        list-style-type: none;
        font-size: 1em;
        color: darkgrey;
        position: relative;
        cursor: pointer;

        &:after {
            content: "";
            position: absolute;
            bottom: 20%;
            left: 6%;
            width: 20px;
            border-bottom: 1px solid darkgrey;
            transition: all ease-in 0.25s;
        }

        &:hover:after {
            width: 90%;
        }
    }
}

@mixin navbar-item-underline-576px {
    .navbar.navbar-expand-sm {
        li {
            &:after {
                content: "";
                position: absolute;
                bottom: 20%;
                left: 0;
                width: 20px;
                border-bottom: 1px solid darkgrey;
                transition: all ease-in 0.25s;
            }

            &:hover::after {
                width: 100%;
            }
        }
    }
}